@use '../../pages/App/App.module.scss' as app;

.download-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  background-color: var(--bg);
  transition: background-color 0.2s;
  padding: 52px 45px 45px 30px;
  overflow-x: hidden;
  color: black;

  .ui-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: app.$mobile) {
    padding: 45px 30px;
  }
}
