.contextMenu {
  display: flex;
  position: absolute;
  top: 50vh;
  right: 50vw;
  background: var(--bg);
  border: 1px solid var(--bgSecondary);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.096);
  border-radius: 6px;
  min-width: 170px;
  z-index: 200;
  user-select: none;
  overflow: hidden;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  ul {
    width: 100%;

    form {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text);
        cursor: pointer;
        word-break: break-word;
      }
    }

    #upload {
      button {
        display: flex;
        border-radius: 15px;
        background: var(--bgSecondary);
        border: 1px var(--headerBorder);
        color: var(--text);
        padding: 12px 21px;
        margin-bottom: 15px;
        cursor: pointer;
      }

      #uploadInput {
        display: none;
      }
    }

    #newDir {
      display: flex;
      gap: 15px;

      input[type='text'] {
        background: var(--bgSecondary);
        height: 30px;
        ;
        font-weight: 500;
        font-style: italic;
        padding: 7px 15px 7px 37px;
        width: 100%;
        color: var(--textSecondary);
        border: 0;
        transition: 0.3s;
        border-radius: 25px;
      }

      button {
        display: flex;
        border-radius: 15px;
        background: var(--bgSecondary);
        border: 1px var(--headerBorder);
        color: var(--text);
        padding: 12px 21px;
        cursor: pointer;
      }
    }

    li {
      box-sizing: border-box;
      marker: none;
      display: flex;
      width: 100%;
      font-weight: 400;
      color: var(--textSecondary);
      padding: 12px 22px;
      font-size: 0.9rem;
      transition: 0.1s;

      &:hover {
        background-color: rgba(133, 133, 133, 0.2);
      }
    }
  }
}