@use '../../pages/App/App.module.scss' as app;

.sidebar-mask {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.2);
  @media screen and (max-width: app.$mobile) {
    pointer-events: initial;
    height: calc(100vh - 110px);
  }
  &.hidden {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
  }
}
.files-window {
  height: calc(100vh - 55px);
  background-color: var(--bg);
  transition: background-color 0.2s;
  padding: 52px 45px 45px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  @media screen and (max-width: app.$mobile) {
    padding: 45px 30px;
  }
  .ui-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    h1 {
      color: var(--text);
      display: flex;
      height: 100%;
      line-height: 1;
      flex-direction: row;
      gap: 15px;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .folder-black {
        width: 32px;
        transform: translateY(10%);
        margin-right: 13px;
        margin-left: 30px;
        filter: var(--invertOnDark);
        @media screen and (max-width: app.$mobile) {
          margin-left: 0;
          margin-right: 20px;
          width: 26px;
        }
      }
    }
  }

  .files {
    /* On desktop, files are flexboxes with size chosen by user.
         On mobile, files are grid items with strict number of columns. */
    display: inline-flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 100%;
    /* TODO: zrobić porządnego grida */
    min-height: 80%;

    /* default size: 3 */
    --fileHeight: 165px;
    --fileWidth: 180px;

    @media screen and (max-width: app.$mobile) {
      display: inline-grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      grid-gap: 15px;
      place-items: start stretch;
    }
    @media screen and (max-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 320px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .files[icon-size='5'] {
    --fileHeight: 205px;
    --fileWidth: 220px;
  }
  .files[icon-size='4'] {
    --fileHeight: 185px;
    --fileWidth: 200px;
  }
  .files[icon-size='3'] {
    --fileHeight: 165px;
    --fileWidth: 180px;
  }
  .files[icon-size='2'] {
    --fileHeight: 145px;
    --fileWidth: 160px;
  }
  .files[icon-size='1'] {
    --fileHeight: 125px;
    --fileWidth: 140px;
  }
}
