.bean {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  background: var(--bgSecondary);
  border-radius: 50px;
  height: 24px;
  font-size: 12px;
  padding: 6px 8px;
  color: var(--textTertiary);
  line-height: 12px;
  cursor: initial;

  .x {
    background: var(--bg);
    border-radius: 5px;
    background: none;
    padding: 2px 2px 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }
}