.bean {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  background: var(--bgSecondary);
  border: 1px solid var(--fileBorder);
  border-radius: 10px;
  height: 24px;
  font-size: 12px;
  padding: 4px 6px;
  color: var(--textSecondary);
  line-height: 12px;

  .x {
    background: var(--bg);
    border-radius: 5px;
    background: none;
    padding: 2px 2px 4px;
    font-weight: bold;
    font-size: 15px;
  }
}