.files-window {
  height: calc(100vh - 55px);
  background-color: var(--bg);
  transition: background-color 0.2s;
  padding: 52px 45px 45px 30px;
  overflow-x: hidden;
  color: black;
  @media screen and (max-width: var(--mobile)) {
    padding: 45px 30px;
  }

  .files {
    /* On desktop, files are flexboxes with size chosen by user.
         On mobile, files are grid items with strict number of columns. */
    display: inline-flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 100%;
    /* TODO: zrobić porządnego grida */
    min-height: 80%;

    @media screen and (max-width: var(--mobile)) {
      display: inline-grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      grid-gap: 15px;
      place-items: start stretch;
    }
    @media screen and (max-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 320px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
