
.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: var(--text);
    background-color: var(--bg);
    border-radius: 999em;
    border: 0;
    padding: 0.4em;
    margin: 0.3em;
    height: 3em;
    width: 3em;
    transition: 0.2s;
    font-size: 1em;

    &.disabled {
      filter: contrast(0.2) brightness(1.61);
      cursor: default;
    }

    &.hidden {
      display: none;
    }

    img {
      height: 25px;
      filter: var(--invertOnDark);
    }

    @media screen and (max-width: var(--mobile)) {
      font-size: 0.8em;
      margin: 0 7px;
    }

    &:hover {
      background-color: var(--bgSecondary);

      &.disabled {
        background-color: var(--bg);
      }
    }
  }
}
