@import './fonts/exo-fonts.scss';

$red: #f63b28;
$white: #ededed;

* {
  box-sizing: border-box;
  font-family: 'Exo', Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em;
}
body {
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  padding: 0 22px;
  background-color: #2d2d2d;
  #left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .hamburger {
      width: 15px;
      height: 2px;
      border-radius: 1.5px;
      background-color: white;
      margin-right: 20px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 2px;
        border-radius: 1.5px;
        top: -6px;
        left: 0px;
        background-color: white;
      }
      &:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 2px;
        border-radius: 1.5px;
        top: 6px;
        left: 0px;
        background-color: white;
      }
    }
    a {
      line-height: 0;
      img {
        height: 17px;
      }
    }
  }
  #mid {
    display: flex;
    background-color: #5a5a5a;
    height: 28px;
    width: 273px;
    border-radius: 14px;
    position: relative;
    input {
      background: none;
      font-weight: 500;
      font-style: italic;
      padding: 7px 15px 7px 37px;
      width: 100%;
      color: white;
      border: 0;
      &::placeholder {
        color: #d4d4d4;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: 11px;
      width: 11px;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      background-image: url('./images/search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  #right {
    height: 100%;
    padding: 12px 0;
  }
}
.fs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
  .sidebar {
    display: flex;
    width: 283px;
    background-color: #424242;
    height: 100%;
    .menu {
      all: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      li {
        all: unset;
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        height: 42px;
        align-items: center;
        line-height: 0;
        width: 100%;
        padding: 0 20px 0 54px;
        margin: 0;
        color: white;
        font-size: 16px;
        font-weight: 200;
        font-style: normal;
        transition: 0.1s;
        img {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }
        .lock:after {
          position: absolute;
          content: '';
          width: 16px;
          height: 16px;
          right: 20px;
          top: 50%;
          transform: translateY(-40%);
          background-image: url('./images/key.svg');
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.red {
          background-color: $red;
          margin-bottom: 15px;
          font-weight: 400;
          &:hover {
            background-color: #ff6152;
          }
          img {
            width: 17px;
            height: 17px;
            left: 22px;
          }
        }
        &:hover {
          background-color: #575757;
        }
      }
    }
  }
  .files-window {
    background-color: $white;
    padding: 45px 70px 125px;
    width: 100%;
    h1 {
      .folder-black {
        width: 32px;
        height: 25px;
        transform: translateY(10%);
        margin-right: 28px;
      }
    }
    .files {
      display: flex;
      margin-top: 25px;
      flex-wrap: wrap;
      div {
        display: flex;
        flex-direction: column;
        width: 170px;
        height: 180px;
        padding: 15px 20px;
        margin: 7px;
        border-radius: 10px;
        transition: 0.1s;
        img {
          height: 75%;
          width: auto;
        }
        p {
          font-size: 15px;
          font-weight: 500;
          text-align: center;
          margin-top: 10px;
        }
        &:hover {
          background-color: rgba(125, 125, 125, 0.1);
        }
      }
    }
  }
}
h1 {
  font-size: 26px;
  height: initial;
}
