.shared-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  background-color: var(--bg);
  transition: background-color 0.2s;
  padding: 52px 45px 45px 30px;
  overflow-x: hidden;
  color: black;

  .folder-black {
    width: 32px;
    transform: translateY(10%);
    margin-right: 13px;
    margin-left: 30px;
    filter: var(--invertOnDark);
    @media screen and (max-width: var(--mobile)) {
      margin-left: 0;
      margin-right: 20px;
      width: 26px;
    }
  }

  .files-container {
    display: flex;
    margin-top: 25px;
  }

  .ui-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
      color: var(--text);
      display: flex;
      height: 100%;
      line-height: 1;
      flex-direction: row;
      gap: 15px;
      align-items: center;
    }
  }

  @media screen and (max-width: var(--mobile)) {
    padding: 45px 30px;
  }

}
